article
  .date
    text-transform uppercase
    color $text_secondary
    margin-bottom 10px
  .content
    overflow auto
    img.right
      width 200px
      margin 0 auto
      display block
      +gt-sm()
        float right


  iframe#comments
    width 100%
    border 0
    height 50px
  .card-actions
    display flex
    justify-content space-between
    align-items center
