// 3rd party styles
@import "../node_modules/sidenavjs/dist/sidenav.css"

// these two needs to be first for others to work properly
@require "styles/mixins"
@require "styles/colors"

// regular inclues
@require "styles/**/*"
@require "styles/partials/**/*"

*
  box-sizing border-box

body
  background $background_body
  color $text_primary
  margin 0
  padding 0

ul, li
  margin 0
  padding 0

#content
  display flex
  flex-flow column
  align-items stretch

.main-container
  width: 100%
  display flex
  +gt-md()
    align-self center
    max-width 1200px
  .main-content
    flex-grow 1
  .sidebar
    width 25%
    flex-grow 0
    flex-shrink 0

::selection
  accent-block()
