script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
script.
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: '#{global.template.googleAdClientId}',
    enable_page_level_ads: true
  });
